<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                <form class="form">
                    <div class="form-group mb-2">
                        <label for="category" class="sr-only">Email</label>
                        <select id="category" class="form-control" v-model="searchForm.category">
                            <option value="">Select category</option>
                            <option v-for="category in categories" :value="category">{{ category }}</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="firstname" class="sr-only">Firstname</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Firstname" v-model="searchForm.firstname">
                    </div>
                    <div class="form-group mb-2">
                        <label for="birthDate" class="sr-only">Birth date</label>
                        <input type="text" class="form-control" id="birthDate" placeholder="Birth date" v-model="searchForm.birthDate">
                    </div>
                    <div class="form-group mb-2">
                        <label>Age between</label>
                        <label for="min_age" class="sr-only">Minimum age</label>
                        <input type="text" class="form-control" id="min_age" placeholder="Minimum age" v-model="searchForm.min_age">
                    </div>
                    <div class="form-group mb-2">
                        <label for="max_age" class="sr-only">Maximum age</label>
                        <input type="text" class="form-control" id="max_age" placeholder="Maximum age" v-model="searchForm.max_age">
                    </div>
                    <div class="form-group mb-2">
                        <label>Results per page</label>
                        <label for="per_page" class="sr-only">Results per page</label>
                        <input type="text" class="form-control" id="per_page" placeholder="Results per age" v-model="searchForm.per_page">
                    </div>
                    <div class="form-check" v-for="(val, key) in genders" :id="`bb_${key}`">
                        <input class="form-check-input" type="checkbox" :checked="searchForm.gender.includes(key)" :value="key" :id="`genders_${key}`" v-model="searchForm.gender">
                        <label class="form-check-label" :for="`genders_${key}`">
                            {{ val }}
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="csv" v-model="searchForm.csv">
                        <label class="form-check-label" for="csv">
                            Download CSV
                        </label>
                    </div>

                    <strong>Columns you need</strong>
                    <div class="form-check" v-for="key in columns">
                        <input class="form-check-input" type="checkbox" :checked="searchForm.columns.includes(key)" :value="key" :id="`columns_${key}`" v-model="searchForm.columns">
                        <label class="form-check-label" :for="`columns_${key}`">
                            Show {{ key }}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" @click.prevent="getClients(false, true)">Search</button>
                </form>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" v-for="column in searchForm.columns">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="client in clients">
                            <td scope="row" v-for="column in searchForm.columns">{{ client[column] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination v-model="page" :records="records" :per-page="searchForm.per_page" @paginate="changePage" />

    </div>
</template>

<script>
import Pagination from 'v-pagination-3';
import {config} from "../../config";

export default {
    name: "ClientIndex",
    components: {
        Pagination
    },
    data() {
        return {
            clients: [],
            columns: [],
            categories: [],
            genders: {
                male: 'Male',
                female: 'Female'
            },
            searchForm: {
                category: this.$route.query.category !== undefined ? this.$route.query.category : '',
                firstname: this.$route.query.firstname !== undefined ? this.$route.query.firstname : '',
                gender: [],
                columns: [],
                age: this.$route.query.age !== undefined ? this.$route.query.age : 0,
                birthDate: this.$route.query.birthDate !== undefined ? this.$route.query.birthDate : '',
                min_age: this.$route.query.min_age !== undefined ? this.$route.query.min_age : 0,
                max_age: this.$route.query.max_age !== undefined ? this.$route.query.max_age : 1,
                per_page: this.$route.query.per_page !== undefined ? this.$route.query.per_page : 10,
                csv: 0
            },
            name: 'Javid',
            page: this.$route.query.page !== undefined ? +this.$route.query.page : 1,
            records: 1,
        }
    },
    methods: {
        changePage(pageNum) {
            this.page = pageNum;
            this.getClients(pageNum);
        },
        setQueryData() {
            this.page = this.$route.query.page !== undefined ? this.$route.query.page : this.page;
        },
        getClients(page = false, resetPage = false) {
            if (resetPage === true) this.page = 1;
            let pageNum = page === false ? this.page : page
            let data = {
                params: {
                    ...this.searchForm,
                    csv: !this.searchForm.csv ? 0 : 1,
                    page: pageNum,
                    count: this.records
                }
            }
            const queryParams = data.params;
            if(queryParams.csv === 1) {
                const urlParams = new URLSearchParams(queryParams);
                const url = `/${config.apiPath}/clients/search?${urlParams}`;
                location.href = url;
                return;
            }
            this.$router.push({ query: queryParams }).catch(() =>{});

            return axios.get(`/${config.apiPath}/clients/search`, data)
            .then(res => {
                const data = res.data;
                this.clients = data.data;
                this.records = data.total;
            })
            .catch(err => {
                console.log(err);
                alert('Unable to get clients ! Error !');
            })
        },
        getPageData() {
            return axios.get(`/${config.apiPath}/clients`)
                .then(res => {
                    const data = res.data;
                    this.categories = data.categories;
                    this.columns = data.columns;
                    this.searchForm.columns = data.columns;
                    this.getClients();
                })
                .catch(err => {
                    console.log(err);
                    alert('Unable to get data ! Error !');
                })
        }
    },
    created() {
        this.getPageData();
    }
}
</script>

<style scoped>

</style>
